*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    min-height: 100vh;
    background-color: #F6F7FC;
    background-size: cover;
    background-position: center;
    background-size: 1280px 720px
}

.header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 1280px;
    height: 75px;
    /* padding: 30px 100px; */
    background-color: #5F799E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    position: relative;
    width: 88px;
    height: 88px;
    left: 10px;
    align-items: center;
    
}

.navigation a{
    font-size: 15px;
    color: #F6F7FB;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    align-items: center;
    left:100px;
    position: relative;
}

.connection{
    font-size: 13px;
    color: #F6F7FB;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    align-items: center;
    left: 150px;
    position: relative;
    
}


.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    /* cursor: pointer; */
  }
  
  .toggle-switch input[type="checkbox"] {
    display: none;
  }
  
  .toggle-switch-background {
    position: absolute;
    top: 0;
    /* left: 0; */
    right: 30px;
    width: 100%;
    height: 100%;
    background-color: #ddd;
    border-radius: 20px;
    box-shadow: inset 0 0 0 2px #ccc;
    transition: background-color 0.3s ease-in-out;
  }
  
  .toggle-switch-handle {
    position: absolute;
    top: 5px;
    left: 7px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }
  
  /* .toggle-switch::before {
    content: "";
    position: absolute;
    top: -25px;
    right: -35px;
    font-size: 12px;
    font-weight: bold;
    color: #aaa;
    text-shadow: 1px 1px #fff;
    transition: color 0.3s ease-in-out;
  } */
  
  /* .toggle-switch input[type="checkbox"]:checked + .toggle-switch-handle {
    transform: translateX(45px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 0 3px #05c46b;
  } */
  
  .toggle-switch input[type="checkbox"]:checked + .toggle-switch-background {
    background-color: #05c46b;
    box-shadow: inset 0 0 0 2px #04b360;
  }
  
  .toggle-switch input[type="checkbox"]:checked + .toggle-switch:before {
    content: "On";
    color: #05c46b;
    right: -15px;
  }
  
  .toggle-switch input[type="checkbox"]:checked + .toggle-switch-background .toggle-switch-handle {
    transform: translateX(29px);
  }
  